body{
    height:100vh;
    background: linear-gradient(to bottom ,skyblue,rgb(155, 169, 195));
    overflow: hidden;
   /* position: relative; */
}
svg{
    width:35px;
    height:35px;
    fill: rgb(73, 71, 71);
}
.clouds_bnakground{
    width:100%;
    height:100vh;
}
.cloud{
    position: absolute;
    /* left:20; */
    background-color: white;
    box-shadow: 3px 3px 4px whitesmoke;
    border-radius: 200px;
    animation: animate 40s infinite linear;
    z-index: -1;
}
.cloud::before{
    content:'';
    position:absolute;
    top:-60%;
    left:10%;
    width:50%;
    height:150%;
    background-color: white;
    border-radius: 50%;
}

.cloud::after{
    content:'';
    position:absolute;
    top:-40%;
    right:20%;
    width:30%;
    height:100%;
    background-color: white;
    border-radius: 50%;

}

.big_cloud{
    top:100px;
    right:300px;
    width:300px;
    height:90px;
    animation-duration: 100s;
}
.big2_cloud{
    top:300px;
    width:180px;
    height:70px;
    animation-duration: 70s;
}
.mid_cloud{
    top:300px;
    left:800px;
    width:150px;
    height:50px;
    animation-duration: 90s;
}
.mid2_cloud{
    top:400px;
    left:70px;
    width:150px;
    height:50px;
    animation-duration: 120s;
}
.mid3_cloud{
    top:500px;
    left:500px;
    width:150px;
    height:50px;
    animation-duration: 140s;
}
.small_cloud{
    top:600px;
    left:200px;
    width:60px;
    height:20px;
    animation-duration: 150s;
}
.small2_cloud{
    top:250px;
    width:60px;
    height:20px;
    animation-duration: 170s;
}
.small4_cloud{
    top:400px;
    width:60px;
    height:20px;
    animation-duration: 190s;
}
.big3_cloud{
    top:400px;
    width:60px;
    height:20px;
    animation-duration: 150s;
}
.small3_cloud{
    top:100px;
    width:60px;
    height:20px;
    animation-duration: 140s;
}
.small4_cloud{
    top:20px;
    left:200px;
    width:60px;
    height:20px;
    animation-duration: 150s;
}
.mid4_cloud{
    top:460px;
    left:800px;
    width:150px;
    height:50px;
    animation-duration: 70s;
}


@keyframes animate{
    from{
        left:0;
    }
to{
    left:100%;
}
}

.login{
    width:400px;
    height:300px;
    /* background-color: #fff;
    box-shadow: 3px 3px 3px grey; */
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.login-form{
    /* background-color: rgb(255, 127, 234); */
    width:200px;
    height:120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#email, #password,.input{
    height:30px;
    width:200px;
    border-radius: 20px;
    border: 1px solid gray;

}
#signin{
    width:100px;
    height:30px;
    border-radius: 5px;
    cursor: pointer;
}
.email-section,.password-section{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    gap:10px;

}
.register{
    /* background-color: aqua; */
    display: flex;
   align-items: center;
   justify-content:center;
   gap:10px;
}
.register p,a{
    font-size: 14px;
    color: black;
}
/* ***********************registration form style***************************************** */
.register_container{
    /* background-color: antiquewhite; */
    width:55%;
    height:70%;
    margin:100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

}
#register_form{
    /* background-color: aquamarine; */
    width:50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap:10px;
}
#register_form div{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    
}